#header .nav {
	float: right;
	padding: 8px 20px 0 0;
	color: #FFFFFF;
}

#header .nav .account {
	margin-right: 15px;
	padding-left: 20px;
	background: transparent url(/assets/images/bg/welcome.png) 0 center no-repeat;
}

#header .nav a {
	color: #FFFFFF;
}

#header .nav .divider {
	margin: 5px;
}

#header .i18n {
	position: absolute;
	right: 20px;
	top: 40px;
}
#header .i18n select {
	width: 75px;
}

.fullline {
	height: 7px;
	background: transparent url(/assets/images/bg/backend-line.png) 0 0 repeat-x;
}

#lside .menubar li.cascade .submenu span {
	margin-left: 48px;
	padding-left: 15px;
	background: transparent url(/assets/images/bg/submenu.png) 0 17px no-repeat;
}

#lside .menubar li.cascade .submenu span {
	margin-left: 48px;
	padding-left: 15px;
	background: transparent url(/assets/images/bg/submenu.png) 0 17px no-repeat;
}

#lside .menubar li.cascade .submenu span:hover,
#lside .menubar li.cascade .submenu .active span {
	background-image: url(/assets/images/bg/submenu-hover.png);
}

#lside .menubar .icon-users {
	background-position: -262px -11px;
}