html, body { background: #fff; }
.panel { padding: 15px; }
.breadcrumb { color: #777; height: 31px; line-height: 31px; background: transparent url(/assets/images/manager/crumb.png) 0 0 repeat-x; border-bottom: 1px solid #bfbfbf; }
.breadcrumb .home { float: left; width: 32px; margin-right: 10px; height: 31px; background: transparent url(/assets/images/manager/home.png) center center no-repeat; border-right: 1px solid #bfbfbf; }
.breadcrumb nav { float: left; }
.breadcrumb nav a { color: #777; }
.breadcrumb nav .divider { margin: 0 3px; font-family: serif; }
.common-table .check { width: 20px; text-align: center; }
.common-table .actions .modify { margin: 0 10px 0 0; }
.pagebar { margin-top: 10px; }
.text-danger { color: #e85541; }
form.filter { border: 1px solid #bfbfbf; background: #f7f7f7; padding: 8px 0 0; margin-bottom: 8px;}
form.filter .btn { margin-left: 30px; padding: 0 20px; }
.form-inline .form-group { margin-bottom: 8px; }
.form-group label { width: 90px; text-align: right; }
.icon { width: 20px; height: 20px; background: transparent url(/assets/images/sprite/icons.png) -118px -260px no-repeat; }
.icon-add { background-position: -118px -260px; }
.icon-del { background-position: -190px -153px; }