html, body { background-color: #DCE0E7; min-width: 1050px; }
#content .wrapper { background: transparent; }
#header { height: 60px; background-color: #8B2C92; overflow: hidden; }
#logo { padding: 10px 0 0 20px; float: left; }
#logo img { display: block; }
#header .name { float: left; font-size: 18px; line-height: 60px; color: #fff; margin-left: 20px; letter-spacing: 2px; }
#header nav { float: right; }
#header nav a { float: left; color: #fff; width: 107px; height: 51px; border: 2px solid transparent; line-height: 55px; margin-top: 2px; background-color: #eee; margin-right: 3px; text-decoration: none; }
#header nav a:hover { border-color: #fff; }
#header nav a.cyan:hover { border-color: transparent; }
#header nav a .icon { display: inline-block; background: transparent url(/assets/images/login/icons-cloud.png) 0 0 no-repeat; vertical-align: middle; width: 25px; height: 25px; margin: 0 8px 0 10px; }
#header nav a.red { background-color: #db552d; }
#header nav a.green { background-color: #00A200; }
#header nav a.blue { background-color: #2C86EE; }
#header nav a.cyan { background-color: #0096a9; width: 63px; }
#header nav a.red .icon { background-position: -6px -73px; }
#header nav a.green .icon { background-position: -41px -76px; }
#header nav a.blue .icon { width: 20px; background-position: -76px -76px; }
#header nav a.cyan .icon { width: 39px; height: 19px; background-position: -581px -44px; vertical-align: top; margin-top: 18px; }
#header nav a.cyan.english .icon { width: 39px; height: 19px; background-position: -581px -9px; }
#lside { width: 220px; float: left; background: transparent; }
#lside .personal { position: relative; height: 93px; background-color: #8B2C92; font-size: 0; }
#lside .personal .user { float: left; width: 121px; height: 85px; border: 2px solid #00A200; background-color: #00A200; color: #fff; text-align: center; font-size: 12px; text-decoration: none; }
#lside .personal .user:hover { border-color: #fff; }
#lside .personal .user .icon { display: block; width: 50px; height: 50px; margin: 8px auto; background: transparent url(/assets/images/login/icons-cloud.png) 0 0 no-repeat; }
#lside .personal nav { float: right; width: 92px; }
#lside .personal nav a { float: left; width: 39px; height: 39px; background-color: #2C86EE; border: 2px solid #2C86EE; margin: 0 3px 3px 0; }
#lside .personal nav a:hover { border-color: #fff; background-color: #DB562D; }
#lside .personal nav a .icon { display: block; width: 20px; height: 20px; margin: 10px auto 0; background: transparent url(/assets/images/login/icons-cloud.png) 0 0 no-repeat; opacity: 0.7; }
#lside .personal nav a:hover .icon { opacity: 1; }
#lside .personal nav a.archives .icon { background-position: -149px -78px; }
#lside .personal nav a.safety .icon { background-position: -185px -78px; }
#lside .personal nav a.likes .icon { background-position: -114px -79px; }
#lside .personal nav a.logout .icon { background-position: -221px -80px; }
#lside .list li { margin-bottom: 2px; font-size: 14px; position: relative; }
#lside .list li > a { display: block; height: 50px; line-height: 50px; background-color: #EEF0F3; color: #333; text-decoration: none; }
#lside .list li > a .more { position: absolute; right: 15px; top: 20px; display: block; width: 5px; height: 10px; background: transparent url(/assets/images/login/icons-cloud.png) -694px -82px no-repeat; }
#lside .list li.active > a .more { width: 10px; height: 5px; background-position: -694px -114px; top: 23px; right: 13px; }
#lside .list li.active > a, #lside .list li > a:hover { color: #fff; }
#lside .list li > a > .mark { float: left; width: 50px; height: 50px; margin-right: 20px; overflow: hidden; }
#lside .list li > a > .mark >.icon { display: block; margin: 10px auto; width: 30px; height: 30px; background: transparent url(/assets/images/login/icons-cloud.png) 0 0 no-repeat; opacity: 0.7; }
#lside .list li.active > a > .mark >.icon, #lside .list li > a:hover > .mark >.icon { opacity: 1; }
#lside .list .meetings > a > .mark { background-color: #2C86EE; background-position: -291px -18px; }
#lside .list .meetings.active > a, #lside .list .meetings > a:hover { background-color: #2C86EE; }
#lside .list .meetings > a > .mark > .icon { background-position: -164px -2px; }
#lside .list .contacts > a > .mark { background-color: #7137DC; }
#lside .list .contacts.active > a, #lside .list .contacts > a:hover { background-color: #7137DC; }
#lside .list .contacts > a > .mark > .icon { background-position: -109px -2px; }
#lside .list .reports > a > .mark { background-color: #D8562D; }
#lside .list .reports.active > a, #lside .list .reports > a:hover { background-color: #D8562D; }
#lside .list .reports > a > .mark > .icon { background-position: -323px -2px; }
#lside .list .orders > a > .mark { background-color: #8B2C92; }
#lside .list .orders.active > a, #lside .list .orders > a:hover { background-color: #8B2C92; }
#lside .list .orders > a > .mark > .icon { background-position: -56px -2px; }
#lside .list .settings > a > .mark { background-color: #0095A9; }
#lside .list .settings.active > a, #lside .list .settings >a:hover { background-color: #0095A9; }
#lside .list .settings > a > .mark > .icon { background-position: -268px -2px; }
#lside .list .supports > a > .mark { background-color: #491BC4; }
#lside .list .supports.active > a, #lside .list .supports > a:hover { background-color: #491BC4; }
#lside .list .supports > a > .mark > .icon { background-position: -376px -2px; }
#lside .list li > ul { display: none; }
#lside .list li.active > ul { display: block; }
#lside .list li > ul > li { margin-bottom: 1px; font-size: 12px; }
#lside .list li > ul > li > a { padding-left: 70px; height: 35px; line-height: 35px; background-color: transparent; }
#lside .list li > ul > li > a:hover { background-color: #F9F9F9; color: #333; }
#lside .list li > ul > li.active > a { background-color: #8B919A; color: #fff; }
#lside .list li > ul > li > a > .mark { width: 25px; height: 35px; margin-right: 5px; }
#lside .list li > ul > li > a > .mark .icon { display: block; width: 20px; height: 20px; margin: 9px 0 0; background: transparent url(/assets/images/login/icons-cloud.png) 0 0 no-repeat; }
#lside .list li > ul > li > a.help > .mark > .icon { background-position: -638px -47px; }
#lside .list li > ul > li.active > a.help > .mark .icon { background-position: -638px -11px; }
#lside .list li > ul > li > a.download > .mark > .icon { background-position: -686px -47px }
#lside .list li > ul > li.active > a.download > .mark .icon { background-position: -686px -11px }
#mainbox { margin-left: 220px; background-color: #fff; }