/* download */
html { background: #00697e url(/assets/images/login/download.jpg) center bottom no-repeat; }
body { background: transparent; }
#content { width: 1150px; margin: 0 auto; }
#content .wrapper { padding: 0 50px; background: #fff; }
.download .item { padding: 40px 0 40px 450px; line-height: 28px; font-size: 14px; border-bottom: 1px solid #ddd; }
.download .item h3 { margin-bottom: 30px; font-size: 26px; color: #1268cd; }
.download .item ul { padding-left: 6px; }
.download .item li { list-style: disc inside; }
.download .btn-group { margin-top: 40px; }
.download a.iphone { display: inline-block; *display: inline; *zoom: 1; background: transparent url(/assets/images/login/down-buttons.png) 0 0 no-repeat; width: 162px; height: 48px; }
.download a.android { display: inline-block; *display: inline; *zoom: 1; background: transparent url(/assets/images/login/down-buttons.png) 0 -48px no-repeat; width: 162px; height: 48px; margin-left: 5px; }
.download a.windows { display: inline-block; *display: inline; *zoom: 1; background: transparent url(/assets/images/login/down-buttons.png) 0 -96px no-repeat; width: 162px; height: 48px; }
.download .item.first-child { background: transparent url(/assets/images/login/down-1.jpg) 80px 80px no-repeat; *zoom: 1; }
.download .item.last-child { background: transparent url(/assets/images/login/down-2.jpg) 80px 80px no-repeat; *zoom: 1; }