html, body {
	background: #fff;
}

body {
	padding: 20px;
}

.box .body {
	margin-top: 15px;
	padding: 20px;
}

.fieldset {
	width: 870px;
}

.fieldset .types {
	padding-left: 30px;
	height: 40px;
}

.fieldset .types label {
	margin-right: 35px;
}

.fieldset .types input[type=radio] {
	margin-top: -4px;
}

.fieldset .legend {
	font-weight: bold;
	padding-left: 30px;
	margin-bottom: 10px;
	background: transparent url(/assets/images/bg/line.png) 0 center repeat-x;
}

.fieldset .legend span {
	padding: 0 10px;
	background: #FFFFFF;
}

.form-item {
	position: relative;
	line-height: 30px;
	margin-bottom: 10px;
	zoom: 1;
}

.testing-info {
	margin-top: 30px;
}

.form-item .title {
	float: left;
	width: 125px;
	padding-right: 5px;
	text-align: right;
}

.form-item .widget {
	margin-left: 130px;
}

.form-item .input-text {
	width: 250px;
	margin-right: 25px;
}

.form-item .input-area {
	width: 250px;
	height: 50px;
	margin-right: 25px;
}

.form-item .widget p {
	margin-bottom: 8px;
	line-height: normal;
}

.form-item .widget .figure img {
	float: left;
}

.form-item .widget .figure .gray {
	float: left;
	margin-left: 15px;
	padding-top: 43px;
}

.form-item .required {
	position: absolute;
	top: 9px;
	*top: 6px;
	left: 400px;
	width: 7px;
	height: 7px;
	background: transparent url(/assets/images/sprite/icons.png) -14px -194px no-repeat;
}

.form-item .tips {
	color: #B0B0B0;
	line-height: 30px;
}

.form-item .area-widget {
	height: 62px;
}

.form-item .area-widget .required {
	top: 53px;
}

.form-item .area-widget .tips {
	line-height: normal;
}

.success-item {
	margin-left: 25px;
}

.submit-item {
	margin-top: 40px;
	padding-left: 65px;
}