html, body { background: #fff; }
body { padding: 20px; }
.btn { display: inline-block; padding: 4px 15px; margin: 0; font-size: 12px; font-weight: normal; line-height: 20px; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; background-image: none; border: 1px solid transparent; border-radius: 2px; outline: 0; overflow: visible; }
.btn-default { background-color: #E4E8EE; }
.btn-default:hover { background-color: #F9F9F9; }
.btn-default:active { background-color: #C5CAD0; }
.btn-primary { background-color: #2C86EE; color: #fff; }
.btn-primary:hover { background-color: #61A4F2; }
.btn-primary:active { background-color: #236BBE; }
.btn-success { background-color: #00A200; color: #fff; }
.btn-success:hover { background-color: #40B940; }
.btn-success:active { background-color: #008200; }
.btn[disabled], .btn[disabled]:hover, .btn[disabled]:active { cursor: not-allowed; color: #fff; background-color: #b3b3b3; }
.text-overflow { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; zoom: 1; }
.banner { height: 108px; background-color: #E4E8EE; }
.banner > .wrapper { padding: 20px 0 20px 20px; }
.banner .user > .icon { float: left; width: 60px; height: 60px; background: transparent url(/assets/images/login/icons-cloud.png) -501px -5px no-repeat; }
.banner .user .number { float: left; margin-left: 35px; padding-top: 3px; }
.banner .user .number > span { font-size: 14px; }
.banner .user .number div { font-size: 24px; margin-top: 5px; position: relative; }
.banner .user .number .icon { float: left; width: 28px; height: 18px; background: transparent url(/assets/images/login/icons-cloud.png) -323px -79px no-repeat; position: absolute; right: -33px; top: -5px; }
.banner .list-actions { padding-top: 15px; }
.list-actions { float: right; }
.list-actions li { float: left; margin-right: 20px; line-height: 30px; position: relative; }
.list-actions li > a { color: #333; position: relative; z-index: 20; }
.list-actions li.active > a, .list-actions li > a:hover { color: #4993e8; }
.list-actions .icon { display: inline-block; vertical-align: middle; background: transparent url(/assets/images/login/icons-cloud.png) -501px -5px no-repeat; width: 20px; height: 20px; margin-right: 3px; }
.list-actions .icon.invite { background-position: -470px -76px; }
.list-actions .icon.notice { background-position: -435px -76px; }
.list-actions .icon.copy { background-position: -542px -76px; }
.list-actions .icon.settings { background-position: -399px -76px; }
.list-actions a:hover .icon.invite { background-position: -470px -106px; }
.list-actions a:hover .icon.notice { background-position: -435px -106px; }
.list-actions a:hover .icon.copy { background-position: -542px -106px; }
.list-actions li.active { *z-index: 100; }
.list-actions li.active > a .icon.settings, .list-actions a:hover .icon.settings { background-position: -399px -106px; }
.list-actions li.disabled, .list-actions li.disabled a:hover { opacity: 0.5; filter: alpha(opacity=50); color: #333; }
.list-actions li.active .options { display: block; }
.list-actions li .options { display: none; position: absolute; top: 38px; right: -100px; z-index: 100; text-align: right; background: #606060; background: rgba(0, 0, 0, 0.6); padding: 15px 13px; *width: 340px; color: #fff; }
.list-actions li .options .corner { position: absolute; width: 0; height: 0; overflow: hidden; font-size: 0; line-height: 0; top: -30px; *top: -28px; right: 102px; border-top: 15px solid transparent; border-left: 15px solid transparent; border-right: 15px solid transparent; border-bottom: 15px solid #606060; border-bottom: 15px solid rgba(0, 0, 0, 0.6); }
.list-actions li .options .btn { margin: 0 2px; }
.banner .list-actions li .options { text-align: left; *width: 562px; }
.banner .list-actions li .options .form-group { display: inline-block; *display: inline; width: 250px; }
.banner .list-actions li .options .form-group.first-child { margin-right: 30px; }
.banner .list-actions li .options .form-group label { margin-right: 10px; *margin-right: 0; }
.banner .list-actions li .options .form-group input { vertical-align: middle; }
.banner .list-actions li .options .form-group .input-lg { width: 165px; }
.banner .list-actions li .options .form-group .input-sm { width: 86px; }
.summary { padding: 10px 0; }
.summary .filter { float: left; }
.summary .filter .time-case .input-text { width: 70px; padding-right: 30px; background: #FFFFFF url(/assets/images/bg/year.png) 85px center no-repeat; }
.summary .search { float: left; margin-left: 20px; }
.summary .refresh { float: right; margin-right: 20px; }
.summary .refresh .icon { display: inline-block; vertical-align: middle; background: transparent url(/assets/images/login/icons-cloud.png) -505px -77px no-repeat; width: 20px; height: 20px; margin-right: 5px; }
.item-meeting { margin-bottom: 20px; }
.item-meeting .calendar { float: left; width: 80px; border-radius: 3px; overflow: hidden; }
.item-meeting .calendar .date { display: block; background-color: #8B919A; height: 26px; line-height: 26px; text-align: center; color: #fff; }
.item-meeting .calendar .time { display: block; background-color: #EBEDEE; height: 32px; line-height: 32px; text-align: left; border: 1px solid #ddd; border-top: none; font-size: 15px; padding: 0 5px; }
.item-meeting.active .calendar .date { background-color: #00A200; }
.item-meeting .summary { height: auto; line-height: 1; padding: 0; padding-left: 30px; float: left; }
.item-meeting .summary h4 { font-size: 18px; margin: 8px 0 12px; font-weight: normal; }
.item-meeting .summary h4 a { color: #1584cd; }
.item-meeting.active .summary h4 a { color: #00A200; }
.item-meeting.active .summary { background: transparent url(/assets/images/login/active.png) 12px 12px no-repeat; }
.item-meeting.active .calendar .time { background: transparent url(/assets/images/login/running.png) 57px center no-repeat; }
.item-meeting.regular .calendar .time { background: transparent url(/assets/images/login/regular.png) center center no-repeat; }