html, body { background: #fff; }
body { padding: 20px; }
.btn { display: inline-block; padding: 4px 15px; margin: 0; font-size: 12px; font-weight: normal; line-height: 20px; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; background-image: none; border: 1px solid transparent; border-radius: 2px; outline: 0; }
.btn-default { background-color: #F9F9F9; }
.btn-primary { background-color: #2C86EE; color: #fff; }
.btn-primary:hover { background-color: #2B94D6; }
.btn-success { background-color: #00A200; color: #fff; }
.btn-success:hover { background-color: #5da127; }
.btn[disabled] { opacity: 0.5; filter: alpha(opacity=50); cursor: not-allowed; }
.banner { height: 108px; background-color: #E4E8EE; }
.banner > .wrapper { padding: 20px 0 20px 20px; }
.banner .user > .icon { float: left; width: 60px; height: 60px; background: transparent url(/assets/images/login/icons-cloud.png) -501px -5px no-repeat; }
.banner .user .number { float: left; margin-left: 35px; padding-top: 3px; }
.banner .user .number > span { font-size: 14px; }
.banner .user .number div { font-size: 24px; margin-top: 5px; position: relative; }
.banner .user .number .icon { float: left; width: 28px; height: 18px; background: transparent url(/assets/images/login/icons-cloud.png) -323px -79px no-repeat; position: absolute; right: -33px; top: -5px; }
.banner .list-actions { padding-top: 15px; }
.list-actions { float: right; }
.list-actions li { float: left; margin-right: 20px; line-height: 30px; }
.list-actions li > a { color: #333; }
.list-actions .icon { display: inline-block; vertical-align: middle; background: transparent url(/assets/images/login/icons-cloud.png) -501px -5px no-repeat; width: 20px; height: 20px; margin-right: 3px; }
.list-actions .icon.invite { background-position: -470px -76px; }
.list-actions .icon.notice { background-position: -435px -76px; }
.list-actions .icon.copy { background-position: -542px -76px; }
.list-actions .icon.settings { background-position: -399px -76px; }
.list-actions li.disabled { opacity: 0.5; filter: alpha(opacity=50); }
.summary { padding: 10px 0; }
.summary .filter { float: left; }
.summary .filter .time-case .input-text { width: 70px; padding-right: 30px; background: #FFFFFF url(/assets/images/bg/year.png) 85px center no-repeat; }
.summary .search { float: left; margin-left: 20px; }
.summary .refresh { float: right; margin-right: 20px; }
.summary .refresh .icon { display: inline-block; vertical-align: middle; background: transparent url(/assets/images/login/icons-cloud.png) -505px -77px no-repeat; width: 20px; height: 20px; margin-right: 5px; }
.item-meeting { margin-bottom: 20px; }
.item-meeting .calendar { float: left; width: 80px; border-radius: 3px; overflow: hidden; }
.item-meeting .calendar .date { display: block; background-color: #8B919A; height: 26px; line-height: 26px; text-align: center; color: #fff; }
.item-meeting .calendar .time { display: block; background-color: #EBEDEE; height: 32px; line-height: 32px; text-align: left; border: 1px solid #ddd; border-top: none; font-size: 15px; padding: 0 5px; }
.item-meeting.active .calendar .date { background-color: #00A200; }
.item-meeting .summary { height: auto; line-height: 1; padding: 0; padding-left: 30px; float: left; }
.item-meeting .summary h4 { font-size: 18px; margin: 8px 0 12px; font-weight: normal; }
.item-meeting .summary h4 a { color: #1584cd; }
.item-meeting.active .summary h4 a { color: #00A200; }
.item-meeting.active .summary { background: transparent url(/assets/images/login/active.png) 12px 12px no-repeat; }
.item-meeting.active .calendar .time { background: transparent url(/assets/images/login/running.png) 57px center no-repeat; }
.item-meeting.regular .calendar .time {background: transparent url(/assets/images/login/regular.png) center center no-repeat; }