html, body {
	background: #fff;
}

body {
	padding: 20px;
}

.icon-dict {
	float: left;
	width: 15px;
	height: 15px;
	background: transparent url(/assets/images/sprite/icons.png) -50px -225px no-repeat;
}

.module {
	margin-top: 15px;
}

.notice-module .module-body {
	padding: 10px 20px;
	color: #555555;
	line-height: 20px;
}

.notice-module .title {
	float: left;
}

.notice-module .rside {
	float: right;
}

.nodata {
	background: #FFFFFF url(/assets/images/bg/silence.jpg) center 30px no-repeat;
	color: #CCCCCC;
	padding-top: 115px;
	height: 45px;
	text-align: center;
}