html, body {
	background: #EEEEEE;
}

body {
	padding: 20px;
}

.box .body {
	padding: 0;
}

.filter {
	padding: 15px;
	background: #DEDEDE;
	border-bottom: 1px solid #CCCCCC;
}

.filter .year {
	width: 85px;
}

.filter .month {
	width: 60px;
}

.filter .range {
	margin-left: 20px;
}

.filter .range i {
	margin: 0 5px;
}

.results {
	padding: 10px 20px;
	min-height: 420px;
}

.results .reporting {
	width: 440px;
}

.results .reporting .header,
.results .reporting .footer {
	height: 30px;
	line-height: 30px;
}

.results .reporting .header .user {
	float: left;
}

.results .reporting .header .mode {
	float: right;
}

.results .reporting td .name {
	float: left;
	padding-left: 10px;
}

.results .reporting td .money {
	float: right;
	color: #147FC5;
}

.results .reporting .footer {
	color: #61A328;
	text-align: right;
	font-weight: bold;
}