html, body { background: #fff; }
.breadcrumb { background: #eff0f4; color: #999; height: 34px; line-height: 34px; border-bottom: 1px solid #dce1e7; padding: 0 20px; }
.breadcrumb a { color: #999; }
.breadcrumb .divider {font-family: serif;}
.text-lg { font-size: 35px; vertical-align: sub; *vertical-align: baseline; font-family: serif; margin-right: 5px; }
.text-muted { color: #767676; }
.text-primary { color: #2d86ee; }
.text-success { color: #9bc361; }
.statis { width: 790px; margin: 40px auto; }
.statis .item { height: 104px; margin-bottom: 3px; background-color: #f1f1f1; }
.statis .item .title { float: left; width: 104px; height: 104px; color: #fff; text-align: center; font-size: 14px; }
.statis .item.current .title { background-color: #9bc361; }
.statis .item.week .title { background-color: #7acbee; }
.statis .item.month .title { background-color: #fdd761; }
.statis .item.total .title { background-color: #ff7857; }
.statis .item .title .icon { display: block; width: 35px; height: 35px; margin: 25px auto 10px; background: transparent url(/assets/images/login/icons-cloud.png) 0 0 no-repeat; }
.statis .item.current .title .icon { background-position: 0 -123px; }
.statis .item.week .title .icon { background-position: -90px -123px; }
.statis .item.month .title .icon { background-position: -180px -123px; }
.statis .item.total .title .icon { background-position: -270px -123px; }
.statis .item .details { font-size: 14px; }
.statis .item .details .desc { margin: 0 0 5px 0; }
.statis .item.current .details { text-align: center; line-height: 104px; }
.statis .item.current .details .count { font-size: 50px; vertical-align: sub; *vertical-align: baseline; margin-right: 5px; font-family: serif; }
.statis .item .details { margin-left: 104px; }
.statis .item .details ul { padding: 0 10px; height: 104px; overflow: hidden; }
.statis .item .details ul li { width: 215px; float: left; text-align: center; margin: 20px 0; border-right: 1px solid #DADCDC; border-left: 1px solid #fff; }
.statis .item .details ul li.first-child { border-left: none; }
.statis .item .details ul li.last-child { border-right: none; }