html, body {
	background: #90C1E2;
}

#content .wrapper {
	background: #90C1E2;
	padding-top: 100px;
}

#accountBox {
	width: 450px;
	height: 290px;
	margin: 0 auto;
	background: transparent url(/assets/images/bg/login.png) 0 0 no-repeat;
	color: #FFFFFF;
	padding-top: 140px;
	position: relative;
}

#accountBox .logo {
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 160px;
}

#accountBox .logo img {
	position: absolute;
	top: 5px;
	left: 10px;
}

#accountBox .logo .name {
	display: block;
	font-size: 22px;
	padding-top: 30px;
	letter-spacing: 2px;
}

#accountBox form {
	width: 350px;
	margin: 0 auto;
}

#accountBox form .form-item {
	margin-bottom: 20px;
}

#accountBox form .input-text {
	width: 338px;
	font-size: 14px;
	padding: 8px 5px;
}

#accountBox form .captcha-item .captcha {
	float: left;
	width: 90px;
	font-size: 14px;
	padding: 8px 5px;
}

#accountBox form .captcha-item .codeimg {
	float: left;
	margin: 6px 0 0 10px;
}

#accountBox form .captcha-item .change {
	float: left;
	margin-left: 15px;
}

#accountBox form .captcha-item .change {
	color: #43ABF2;
	line-height: 34px;
}

#accountBox form .forget {
	vertical-align: middle;
	margin-left: 35px;
	color: #43ABF2;
}

#accountBox form .input-submit {
	width: 350px;
	height: 42px;
	font-size: 18px;
}