html, body {
	background: #EEEEEE;
}

body {
	padding: 20px;
}

.box .body {
	padding: 0 25px;
}

.product {
	height: 190px;
	padding: 25px;
	border-bottom: 1px solid #CCCCCC;
}

.product:last-child,
.product.last-child {
	border-bottom: none;
}

.product figure {
	float: left;
	padding-left: 10px;
}

.product .information {
	margin-left: 270px;
}

.product .information h4 {
	font-weight: normal;
	color: #519E00;
	font-size: 14px;
	margin-bottom: 10px;
}

.product .information .intro {
	line-height: 24px;
	margin-bottom: 20px;
}

.product .information .input-button {
	width: 95px;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
}