html, body {
	background: #EEEEEE;
}

body {
	padding: 20px;
}

.box .body {
	padding: 0;
	border: none;
}

.filter {
	padding: 10px;
	background: #DEDEDE;
	border: 1px solid #CCCCCC;
	border-bottom: none;
	height: 28px;
	line-height: 28px;
}

.filter .filter-form {
	float: left;
}

.filter .filter-form .input-text {
	*vertical-align: middle;
}

.filter .name-case .input-text {
	width: 250px;
	margin-right: 35px;
}

.filter .time-case .input-text {
	width: 85px;
	padding-right: 30px;
	background: #FFFFFF url(/assets/images/bg/year.png) 98px center no-repeat;
}

.filter .query-button {
	margin-left: 5px;
}

.filter .print-button {
	float: right;
}

.common-table .numbers {
	width: 135px;
}

.common-table .starttime,
.common-table .endtime {
	width: 155px;
}

.common-table .actions {
	width: 170px;
}

.common-table .actions .icon-details {
	width: 18px;
	height: 18px;
	background: transparent url(/assets/images/sprite/icons.png) -154px -153px no-repeat;
}