{{#details}}
	<div class="details clearfix">
		<div class="basic-info">
			<h3><span>会议基本信息</span></h3>
			<div class="panel">
				<ul>
					<li class="item clearfix block-layout">
						<span class="key">会议主题：</span>
						<span class="val">很长很长的换行的行的文本很长很长的换行的行的文本</span>
					</li>
					<li class="item clearfix">
						<span class="key">开始时间：</span>
						<span class="val">2013-03-03</span>
					</li>
					<li class="item clearfix">
						<span class="key">持续时间：</span>
						<span class="val">1小时</span>
					</li>
					<li class="item clearfix">
						<span class="key">提前入会：</span>
						<span class="val">10分钟</span>
					</li>
					<li class="item clearfix">
						<span class="key">与会者安全会议号码：</span>
						<span class="val">263873912</span>
					</li>
					<li class="item clearfix">
						<span class="key">主持人安全会议号码：</span>
						<span class="val">263873912</span>
					</li>
					<li class="item clearfix">
						<span class="key">主持人密码：</span>
						<span class="val">123456</span>
					</li>
					<li class="item clearfix">
						<span class="key">重复周期：</span>
						<span class="val">周循环会议</span>
					</li>
					<li class="item clearfix">
						<span class="key">重复范围：</span>
						<span class="val">重复30次后结束</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="args-info">
			<h3><span>会议详细信息</span></h3>
			<div class="panel">
				<ul>
					<li class="item clearfix">
						<span class="key">会议类型：</span>
						<span class="val">公开会议、视频功能</span>
					</li>
					<li class="item clearfix">
						<span class="key">邀请人数：</span>
						<span class="val"><a>26人</a></span>
					</li>
					<li class="item clearfix">
						<span class="key">最大视频路数：</span>
						<span class="val">16</span>
					</li>
					<li class="item clearfix">
						<span class="key">最大音频路数：</span>
						<span class="val">16</span>
					</li>
					<li class="item clearfix">
						<span class="key">视频画质：</span>
						<span class="val">中</span>
					</li>
					<li class="item clearfix">
						<span class="key">会议模式：</span>
						<span class="val">263873912</span>
					</li>
					<li class="item clearfix block-layout">
						<span class="key">会议功能：</span>
						<span class="val">文档共享、屏幕共享、媒体共享、白板、投票、录制</span>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="addresses">
		<div class="compere">
			主持人入会地址：<input type="text" class="input-text" readonly="readonly" value="http://meeting.confcloud.cn/?joinurl=xxxx" />
		</div>
		<div class="participants">
			参会人入会地址：<input type="text" class="input-text" readonly="readonly" value="http://meeting.confcloud.cn/?joinurl=xxxx" />
		</div>
	</div>
{{/details}}