{{#importsuccess}}
	<div class="import-success">
		<div class="face-success">导入完成！</div>

		<div class="box">
			<div class="head">
				共36条信息，导入28条，重复的有：
			</div>
			<div class="body">
				<ul class="items clearfix">
					<li>Alian</li>
					<li>Alian</li>
					<li>Alian</li>
					<li>Alian</li>
					<li>Alian</li>
					<li>Alian</li>
					<li>Alian</li>
					<li>Alian</li>
				</ul>
			</div>
		</div>
	</div>
{{/importsuccess}}


{{#import}}
	<div class="import-panel">
		<div class="tabview">
			<ul class="tabs clearfix">
				<li class="tab company active" data-tab="company">添加企业用户</li>
				<li class="tab namelist" data-tab="namelist">上传联系人名单</li>
			</ul>

			<div class="views">
				<div class="view active" data-view="company">
					<div class="filter clearfix">
						<div class="search">
							<form method="get">
								<input type="text" class="input-text" placeholder="姓名、邮箱、电话、手机号码">
								<button class="submit-search" type="button">搜索</button>
							</form>
						</div>
						<div class="groups">
							<form method="get">
								<select>
									<option>市场部</option>
								</select>
								<select>
									<option>市场部一组</option>
								</select>
								<select>
									<option>市场部二组</option>
								</select>
							</form>
						</div>
					</div>
					<div class="render">
						<table class="common-table">
							<tbody>
								<tr>
									<th class="check"><input type="checkbox" /></th>
									<th class="name">姓名</th>
									<th class="english">英文名</th>
									<th class="email">邮箱</th>
									<th class="landline">联系电话</th>
									<th class="mobile">手机号码</th>
								</tr>
							</tbody>
						</table>

						<div class="panel">
							<table class="common-table">
								<tbody>
									<tr>
										<td class="check"><input type="checkbox" /></td>
										<td class="name">张三</td>
										<td class="english">smilelegend</td>
										<td class="email">lovemoon@yeah.net</td>
										<td class="landline">029-83838383</td>
										<td class="mobile">18610535297</td>
									</tr>
									<tr>
										<td class="check"><input type="checkbox" /></td>
										<td class="name">张三</td>
										<td class="english">smilelegend</td>
										<td class="email">lovemoon@yeah.net</td>
										<td class="landline">029-83838383</td>
										<td class="mobile">18610535297</td>
									</tr>
									<tr>
										<td class="check"><input type="checkbox" /></td>
										<td class="name">张三</td>
										<td class="english">smilelegend</td>
										<td class="email">lovemoon@yeah.net</td>
										<td class="landline">029-83838383</td>
										<td class="mobile">18610535297</td>
									</tr>
									<tr>
										<td class="check"><input type="checkbox" /></td>
										<td class="name">张三</td>
										<td class="english">smilelegend</td>
										<td class="email">lovemoon@yeah.net</td>
										<td class="landline">029-83838383</td>
										<td class="mobile">18610535297</td>
									</tr>
									<tr>
										<td class="check"><input type="checkbox" /></td>
										<td class="name">张三</td>
										<td class="english">smilelegend</td>
										<td class="email">lovemoon@yeah.net</td>
										<td class="landline">029-83838383</td>
										<td class="mobile">18610535297</td>
									</tr>
									<tr>
										<td class="check"><input type="checkbox" /></td>
										<td class="name">张三</td>
										<td class="english">smilelegend</td>
										<td class="email">lovemoon@yeah.net</td>
										<td class="landline">029-83838383</td>
										<td class="mobile">18610535297</td>
									</tr>
									<tr>
										<td class="check"><input type="checkbox" /></td>
										<td class="name">张三</td>
										<td class="english">smilelegend</td>
										<td class="email">lovemoon@yeah.net</td>
										<td class="landline">029-83838383</td>
										<td class="mobile">18610535297</td>
									</tr>
									<tr>
										<td class="check"><input type="checkbox" /></td>
										<td class="name">张三</td>
										<td class="english">smilelegend</td>
										<td class="email">lovemoon@yeah.net</td>
										<td class="landline">029-83838383</td>
										<td class="mobile">18610535297</td>
									</tr>
									<tr>
										<td class="check"><input type="checkbox" /></td>
										<td class="name">张三</td>
										<td class="english">smilelegend</td>
										<td class="email">lovemoon@yeah.net</td>
										<td class="landline">029-83838383</td>
										<td class="mobile">18610535297</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="pagebar clearfix">
							<span class="count">1/3，共129条记录</span>
							<div class="jumpto">
								<form action="" method="get" autocomplete="off">
									<span class="to">
										跳至<input type="text" class="input-text" name="p" value="2" />页
									</span>
									<button class="go">跳转</button>
								</form>
							</div>
							<ul>
								<li class="first"><a href="">首页</a></li>
								<li class="prev dis"><a title="上一页"></a></li>	
								<li class="cur"><a>1</a></li>
								<li><a href="">2</a></li>
								<li><a href="">3</a></li>
								<li><a href="">4</a></li>
								<li class="next"><a href="" title="下一页"></a></li>
								<li class="last"><a href="">尾页</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="view" data-view="namelist">
					<div class="upload-contact">
						<form method="post">
							<div class="form-item">
								<label class="title">联系人文件：</label>
								<div class="widget">
									<input type="text" class="input-text" />
									<button class="input-gray">选择文件</button>
									<a class="download" href="">下载联系人模板</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{{/import}}
