{{#invite}}
	<div class="invite-panel">
		<div class="actions">
			<a class="input-gray">邀请与会者</a>
			<a class="input-gray">电话呼叫</a>
			<a class="already">已邀请26人</a>
		</div>
		<table class="common-table titles-table">
			<tbody>
				<tr>
					<th class="name">
						姓名
					</th>
					<th class="email">
						邮箱
					</th>
					<th class="phone">
						电话
					</th>
					<th class="status">
						应答状态
					</th>
				</tr>
			</tbody>
		</table>
		<div class="userlist">
			<table class="common-table">
				<tbody>
					<tr>
						<td class="name">
							张三
						</td>
						<td class="email">
							lovemoon@yeah.net
						</td>
						<td class="phone">
							010-88888888
						</td>
						<td class="status">
							未响应
						</td>
					</tr>
					<tr>
						<td class="name">
							张三
						</td>
						<td class="email">
							lovemoon@yeah.net
						</td>
						<td class="phone">
							010-88888888
						</td>
						<td class="status">
							未响应
						</td>
					</tr>
					<tr>
						<td class="name">
							张三
						</td>
						<td class="email">
							lovemoon@yeah.net
						</td>
						<td class="phone">
							010-88888888
						</td>
						<td class="status">
							未响应
						</td>
					</tr>
					<tr>
						<td class="name">
							张三
						</td>
						<td class="email">
							lovemoon@yeah.net
						</td>
						<td class="phone">
							010-88888888
						</td>
						<td class="status">
							未响应
						</td>
					</tr>
					<tr>
						<td class="name">
							张三
						</td>
						<td class="email">
							lovemoon@yeah.net
						</td>
						<td class="phone">
							010-88888888
						</td>
						<td class="status">
							未响应
						</td>
					</tr>
					<tr>
						<td class="name">
							张三
						</td>
						<td class="email">
							lovemoon@yeah.net
						</td>
						<td class="phone">
							010-88888888
						</td>
						<td class="status">
							未响应
						</td>
					</tr>
					<tr>
						<td class="name">
							张三
						</td>
						<td class="email">
							lovemoon@yeah.net
						</td>
						<td class="phone">
							010-88888888
						</td>
						<td class="status">
							未响应
						</td>
					</tr>
					<tr>
						<td class="name">
							张三
						</td>
						<td class="email">
							lovemoon@yeah.net
						</td>
						<td class="phone">
							010-88888888
						</td>
						<td class="status">
							未响应
						</td>
					</tr>
					<tr>
						<td class="name">
							张三
						</td>
						<td class="email">
							lovemoon@yeah.net
						</td>
						<td class="phone">
							010-88888888
						</td>
						<td class="status">
							未响应
						</td>
					</tr>
					<tr>
						<td class="name">
							张三
						</td>
						<td class="email">
							lovemoon@yeah.net
						</td>
						<td class="phone">
							010-88888888
						</td>
						<td class="status">
							未响应
						</td>
					</tr>
					<tr>
						<td class="name">
							张三
						</td>
						<td class="email">
							lovemoon@yeah.net
						</td>
						<td class="phone">
							010-88888888
						</td>
						<td class="status">
							未响应
						</td>
					</tr>
					<tr>
						<td class="name">
							张三
						</td>
						<td class="email">
							lovemoon@yeah.net
						</td>
						<td class="phone">
							010-88888888
						</td>
						<td class="status">
							未响应
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pagebar clearfix">
			<span class="count">
				1/3，共129条记录
			</span>
			<div class="jumpto">
				<form action="" method="get" autocomplete="off">
					<span class="to">
						跳至
						<input type="text" class="input-text" name="p" value="2" />
						页
					</span>
					<button class="go">
						跳转
					</button>
				</form>
			</div>
			<ul>
				<li class="first">
					<a href="">首页</a>
				</li>
				<li class="prev dis">
					<a title="上一页"></a>
				</li>
				<li class="cur">
					<a>1</a>
				</li>
				<li>
					<a href="">2</a>
				</li>
				<li>
					<a href="">3</a>
				</li>
				<li>
					<a href="">4</a>
				</li>
				<li class="next">
					<a href="" title="下一页"></a>
				</li>
				<li class="last">
					<a href="">尾页</a>
				</li>
			</ul>
		</div>
	</div>
{{/invite}}

{{#inviteblank}}
	<div class="invite-panel">
		<div class="actions">
			<a class="input-gray">邀请与会者</a>
			<a class="input-gray">电话呼叫</a>
		</div>
	</div>
{{/inviteblank}}

{{#inviteadduser}}
	<div class="choose">
		<p><a class="input-gray">从通讯录选择</a></p>
		<form onsubmit="return false;">
			<input type="text" class="input-text name" placeholder="用户名" />
			<input type="text" class="input-text email" placeholder="邮箱" />
			<i class="icon icon-add fix-png"></i>
			<span class="error-item"><span class="error"><i class="icon fix-png"></i>请填写正确的邮箱</span></span>
		</form>
	</div>
	<div class="user-list">
		<ul>
			<li>
				<span class="numb">1.</span>
				<span class="name">张三</span>
				<span class="email">zhangsan@gmail.com</span>
			</li>
			<li>
				<span class="numb">2.</span>
				<span class="name">张三</span>
				<span class="email">zhangsan@gmail.com</span>
			</li>
			<li>
				<span class="numb">3.</span>
				<input type="text" class="input-text name" placeholder="用户名" />
				<input type="text" class="input-text email" placeholder="邮箱" />
				<i class="icon icon-remove fix-png"></i>
			</li>
			<li>
				<span class="numb">4.</span>
				<span class="name">张三</span>
				<span class="email">zhangsan@gmail.com</span>
			</li>
			<li>
				<span class="numb">5.</span>
				<span class="name">张三</span>
				<span class="email">zhangsan@gmail.com</span>
			</li>
		</ul>
	</div>
{{/inviteadduser}}

{{#invitesuccess}}
	<div class="invite-success">
		<div class="list-names">
			<div class="face-success">已成功发送邀请！</div>
			<button class="input-gray">查看邀请列表</button>
		</div>
		<div class="box">
			<div class="head">
				以下联系人不在您的通信录列表中
				<a class="addto"><i class="icon icon-add fix-png"></i>添加至通讯录</a>
			</div>
			<div class="body">
				<ul class="items clearfix">
					<li><input type="checkbox" name="user" /><span>lovemoon@yeah.net</span></li>
					<li><input type="checkbox" name="user" /><span>lovemoon@yeah.net</span></li>
					<li><input type="checkbox" name="user" /><span>lovemoon@yeah.net</span></li>
					<li><input type="checkbox" name="user" /><span>lovemoon@yeah.net</span></li>
					<li><input type="checkbox" name="user" /><span>lovemoon@yeah.net</span></li>
					<li><input type="checkbox" name="user" /><span>lovemoon@yeah.net</span></li>
					<li><input type="checkbox" name="user" /><span>lovemoon@yeah.net</span></li>
					<li><input type="checkbox" name="user" /><span>lovemoon@yeah.net</span></li>
					<li><input type="checkbox" name="user" /><span>lovemoon@yeah.net</span></li>
					<li><input type="checkbox" name="user" /><span>lovemoon@yeah.net</span></li>
					<li><input type="checkbox" name="user" /><span>lovemoon@yeah.net</span></li>
					<li><input type="checkbox" name="user" /><span>lovemoon@yeah.net</span></li>
					<li><input type="checkbox" name="user" /><span>lovemoon@yeah.net</span></li>
					<li><input type="checkbox" name="user" /><span>lovemoon@yeah.net</span></li>
					<li><input type="checkbox" name="user" /><span>lovemoon@yeah.net</span></li>
					<li><input type="checkbox" name="user" /><span>lovemoon@yeah.net</span></li>
				</ul>
			</div>
		</div>
	</div>
{{/invitesuccess}}

{{#inviteconcat}}
	<div class="invite-success invite-concat">
		<div class="list-names">
			<div class="face-success">成功添加25个与会者！</div>
		</div>
		<div class="box">
			<div class="head">
				以下联系人邮箱重复，未添加至与会者邀请列表：
			</div>
			<div class="body">
				<ul class="items clearfix">
					<li><span>lovemoon@yeah.net</span></li>
					<li><span>lovemoon@yeah.net</span></li>
					<li><span>lovemoon@yeah.net</span></li>
					<li><span>lovemoon@yeah.net</span></li>
					<li><span>lovemoon@yeah.net</span></li>
					<li><span>lovemoon@yeah.net</span></li>
					<li><span>lovemoon@yeah.net</span></li>
					<li><span>lovemoon@yeah.net</span></li>
					<li><span>lovemoon@yeah.net</span></li>
					<li><span>lovemoon@yeah.net</span></li>
					<li><span>lovemoon@yeah.net</span></li>
					<li><span>lovemoon@yeah.net</span></li>
					<li><span>lovemoon@yeah.net</span></li>
					<li><span>lovemoon@yeah.net</span></li>
					<li><span>lovemoon@yeah.net</span></li>
					<li><span>lovemoon@yeah.net</span></li>
				</ul>
			</div>
		</div>
	</div>
{{/inviteconcat}}

{{#invitefailure}}
	<div class="invite-failure">
		<div class="face-failure">很抱歉，服务器异常！</div>
		<button class="input-gray">重新发送邀请</button>
	</div>
{{/invitefailure}}