{{#joinbynumber}}
	<form method="post" class="join-form">
		<div class="error-item"><p class="error"><i class="icon"></i>请输入安全会议号</p></div>

		<div class="form-item name-widget">
			<label class="title">姓名：</label>
			<div class="widget">
				<input type="text" class="input-text" placeholder="姓名" />
			</div>
		</div>
		<div class="form-item number-widget error-item">
			<label class="title">安全会议号码：</label>
			<div class="widget">
				<input type="text" class="input-text" placeholder="安全会议号" />
			</div>
		</div>
	</form>
{{/joinbynumber}}
