{{#login}}
	<div class="brand">
		<img alt="标志" class="logo fix-png" src="/assets/images/logo-part.png" />
		<img alt="标志" class="name fix-png" src="/assets/images/name-part.png" />
		<a class="close"></a>
	</div>

	<form method="post" class="login-form">
		<div class="error-item">
			<p class="error"><i class="icon"></i>用户名或密码错误，请重新输入！</p>
		</div>

		<div class="form-item email-widget">
			<div class="widget">
				<input type="text" class="input-text fix-png" placeholder="登录名" />
			</div>
		</div>
		<div class="form-item password-widget error-item">
			<div class="widget">
				<input type="password" class="input-text fix-png" placeholder="密码" />
			</div>
		</div>
		<div class="form-item remember-widget">
			<div class="widget">
				<span class="keep-login">
					<input type="checkbox" name="remember" id="remember">
					<label for="remember">记住用户名</label>
				</span>
				<a class="forget" href="">忘记密码？</a>
			</div>
		</div>
		<div class="form-item submit-widget">
			<div class="widget">
				<button class="input-submit">登 录</button>
			</div>
		</div>
	</form>
{{/login}}
