{{#meetingfirststep}}
	<div class="meeting-panel">
		<h4 class="title">第一步：会议基本信息</h4>
		<div class="form-panel">
			<form method="post" onsubmit="return false;">
				<div class="form-item error-item">
					<label class="title">会议主题：</label>
					<div class="widget">
						<input type="text" class="input-text" placeholder="会议主题" />
						<span class="required"></span>
						<span class="tips">1-32个任意字符</span>
						<span class="error"><i class="icon"></i>1-32个任意字符</span>
					</div>
				</div>
				<div class="form-item error-item">
					<label class="title">主持人密码：</label>
					<div class="widget">
						<input type="password" class="input-text" placeholder="主持人密码" />
						<span class="required"></span>
						<span class="tips">6-12个数字</span>
						<span class="error"><i class="icon"></i>6-12个数字</span>
					</div>
				</div>
				<div class="form-item voice-widget">
					<label class="title">语音模式：</label>
					<div class="widget">
						<input type="radio" name="voice" id="voiceNet" />
						<label for="voiceNet">网络语音</label>
						<input type="radio" name="voice" id="netAndPhone" />
						<label for="netAndPhone">网络语音+电话语音</label>
					</div>
				</div>
				<div class="form-item public-widget">
					<label class="title">公开会议：</label>
					<div class="widget">
						<input type="radio" name="public" id="publicYes" />
						<label for="publicYes">是</label>
						<input type="radio" name="public" id="publicNot" />
						<label for="publicNot">否</label>
					</div>
				</div>
				<div class="form-item assign-widget">
					<label class="title">指定参会人：</label>
					<div class="widget">
						<input type="radio" name="assign" id="assignAll" />
						<label for="assignAll">所有注册用户</label>
						<input type="radio" name="assign" id="assignSome" class="assign-some" />
						<label for="assignSome">仅邀请用户</label>
						<span class="gray">(只有被邀请的注册用户可见)</span>
					</div>
				</div>
				<div class="form-item describe-widget">
					<label class="title">会议描述：</label>
					<div class="widget">
						<textarea class="input-area" placeholder="这里可以填写会议描述..."></textarea>
						<span class="count">0/256</span>
					</div>
				</div>
			</form>
		</div>
	</div>
{{/meetingfirststep}}

{{#meetingsecondstep}}
	<div class="meeting-panel">
		<h4 class="title">第二步：会议时间信息<span class="time">北京时间 2013-09-05 09:32:10</span></h4>
		<div class="form-panel">
			<form method="post" onsubmit="return false;">
				<div class="form-item public-widget">
					<label class="title">重复周期：</label>
					<div class="widget">
						<input type="radio" name="repeat" id="repeatYes" />
						<label for="repeatYes">是</label>
						<input type="radio" name="repeat" id="repeatNot" />
						<label for="repeatNot">否</label>
					</div>
				</div>
				<div class="form-item time-widget">
					<label class="title">开始时间：</label>
					<div class="widget">
						<input type="text" name="year" class="year input-text" value="2013-09-03" />
						<select class="hours">
							<option>9点</option>
						</select>
						<select class="minute">
							<option>50分</option>
						</select>
						<span class="required"></span>
						<div class="type-group">
							<input type="radio" name="bytype" id="overTime" />
							<label for="overTime">按结束时间</label>
							<input type="radio" name="bytype" id="lastTime" class="last-time" />
							<label for="lastTime">按持续时间</label>
						</div>
					</div>
				</div>
				<div class="form-item time-widget">
					<label class="title">结束时间：</label>
					<div class="widget">
						<input type="text" name="year" class="year input-text" value="2013-09-03" />
						<select class="hours">
							<option>9点</option>
						</select>
						<select class="minute">
							<option>50分</option>
						</select>
						<span class="required"></span>
					</div>
				</div>
			</form>
		</div>
	</div>
{{/meetingsecondstep}}

{{#meetingsecondstep2}}
	<div class="meeting-panel">
		<h4 class="title">第二步：会议时间信息<span class="time">北京时间 2013-09-05 09:32:10</span></h4>
		<div class="form-panel">
			<form method="post" onsubmit="return false;">
				<div class="form-item public-widget">
					<label class="title">重复周期：</label>
					<div class="widget">
						<input type="radio" name="repeat" id="repeatYes" />
						<label for="repeatYes">是</label>
						<input type="radio" name="repeat" id="repeatNot" />
						<label for="repeatNot">否</label>
					</div>
				</div>
				<div class="form-item time-widget">
					<label class="title">开始时间：</label>
					<div class="widget">
						<input type="text" name="year" class="year input-text" value="2013-09-03" />
						<select class="hours">
							<option>9点</option>
						</select>
						<select class="minute">
							<option>50分</option>
						</select>
						<span class="required"></span>
					</div>
				</div>
				<div class="form-item time-widget last-widget">
					<label class="title">持续时间：</label>
					<div class="widget">
						<select class="hours">
							<option>9点</option>
						</select>
						<select class="minute">
							<option>50分</option>
						</select>
						<span class="required"></span>
					</div>
				</div>

				<div class="indent-items">
					<div class="form-item">
						<p class="legend">定期模式</p>
						<div class="groups tabview clearfix">
							<ul class="ontime tabs">
								<li class="tab" data-tab="day"><label><input type="radio" name="ontime" /><span>按天</span></label></li>
								<li class="tab active" data-tab="week"><label><input type="radio" name="ontime" checked="checked" /><span>按周</span></label></li>
								<li class="tab" data-tab="month"><label><input type="radio" name="ontime" /><span>按月</span></label></li>
							</ul>
							<div class="timemode views">
								<div class="view" data-view="day">
									<p>选择天：</p>
									<div class="bydate error-item">
										每 <input type="text" class="input-text days" name="day" /> 天
										<span class="error"><i class="icon"></i>请输入正确的时间间隔</span>
									</div>
								</div>
								<div class="view active" data-view="week">
									<p>选择星期：</p>
									<div class="dayofweek">
										<label><input type="checkbox" name="weekday" /><span>周日</span></label>
										<label><input type="checkbox" name="weekday" /><span>周六</span></label>
										<label><input type="checkbox" name="weekday" /><span>周五</span></label>
										<label><input type="checkbox" name="weekday" /><span>周四</span></label>
										<label><input type="checkbox" name="weekday" /><span>周三</span></label>
										<label><input type="checkbox" name="weekday" /><span>周二</span></label>
										<label><input type="checkbox" name="weekday" /><span>周一</span></label>
									</div>
								</div>
								<div class="view" data-view="month">
									<p>选择日期：</p>
									<div class="bydate">
										<input type="radio" name="month-type" />
										每月第 <input type="text" class="input-text days" name="day" /> 天
										<span class="error"><i class="icon"></i>请输入正确的时间间隔</span>
									</div>
									<div class="byweek">
										<input type="radio" name="month-type" />
										每月第
										<select>
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
										</select>
										个
										<select>
											<option>周一</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-item repeat-item">
						<p class="legend">重复范围</p>
						<div class="groups clearfix">
							<ul class="ontime">
								<li><label><input type="radio" name="repeat" /><span>无结束日期</span></label></li>
								<li><label><input type="radio" name="repeat" /><span class="equal-width">重复</span><input type="text" class="input-text times" /> 次后结束</label></li>
								<li><label><input type="radio" name="repeat" /><span class="equal-width">结束日期</span><input type="text" class="input-text date" value="2013-09-03" /></label></li>
							</ul>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
{{/meetingsecondstep2}}

{{#meetingthirdstep}}
	<div class="loading-step3">
		<p class="default-loading"><i class="default-text"></i><span>正在加载，请稍后...</span></p>
	</div>
{{/meetingthirdstep}}

{{#meetingthirdstep2}}
	<div class="meeting-panel">
		<h4 class="title">第三步：会议参数信息</h4>
		<div class="form-panel">
			<form method="post" onsubmit="return false;">
				<div class="form-item">
					<label class="title">会议类型：</label>
					<div class="widget">
						<input type="checkbox" name="meetType" id="videoType" />
						<label for="videoType">视频</label>
					</div>
				</div>
				<div class="form-item public-widget">
					<label class="title">会议模式：</label>
					<div class="widget">
						<input type="radio" name="meetMode" id="compereMode" />
						<label for="compereMode">主持人模式</label>
						<input type="radio" name="meetMode" id="freeMode" />
						<label for="freeMode">自由模式</label>
					</div>
				</div>
				<div class="form-item public-widget">
					<label class="title">开启麦克风：</label>
					<div class="widget">
						<input type="radio" name="mikeMode" id="enableMike" />
						<label for="compereMode">是</label>
						<input type="radio" name="mikeMode" id="disableMike" />
						<label for="freeMode">否</label>
					</div>
				</div>
				<div class="regular">
					<p class="legend"><a class="config">高级参数</a></p>
					<div class="config-details">
						<div class="form-item">
							<label class="title">最大音频路数：</label>
							<div class="widget">
								<select class="short-select">
									<option>16路</option>
								</select>
							</div>
						</div>
						<div class="form-item">
							<label class="title">最大视频路数：</label>
							<div class="widget">
								<select class="short-select">
									<option>16路</option>
								</select>
							</div>
						</div>
						<div class="form-item public-widget">
							<label class="title">视频画质设置：</label>
							<div class="widget">
								<input type="radio" name="lowMode" id="lowMode" />
								<label for="lowMode">低</label>
								<input type="radio" name="middleMode" id="middleMode" />
								<label for="middleMode">中</label>
								<input type="radio" name="highMode" id="highMode" />
								<label for="highMode">高</label>
								<input type="radio" name="topMode" id="topMode" />
								<label for="topMode">最高</label>
							</div>
						</div>
						<div class="form-item">
							<label class="title">会议提前时间：</label>
							<div class="widget">
								<input type="text" class="input-text short-text" />
								分钟
							</div>
						</div>
						<div class="form-item public-widget">
							<label class="title">参会人权限：</label>
							<div class="widget">
								<input type="checkbox" name="power" id="turnPage" />
								<label for="turnPage">换页</label>
								<input type="checkbox" name="power" id="comment" />
								<label for="comment">批注</label>
								<input type="checkbox" name="power" id="toAll" />
								<label for="toAll">与所有人聊天</label>
								<input type="checkbox" name="power" id="toCompere" />
								<label for="toCompere">与主持人聊天</label>
								<input type="checkbox" name="power" id="toParty" />
								<label for="toParty">与参会人聊天</label>
							</div>
						</div>
						<div class="form-item public-widget">
							<label class="title">会议功能：</label>
							<div class="widget">
								<input type="checkbox" name="utility" id="shareDoc" />
								<label for="shareDoc">文档共享</label>
								<input type="checkbox" name="utility" id="shareWin" />
								<label for="shareWin">屏幕共享</label>
								<input type="checkbox" name="utility" id="whiteBoard" />
								<label for="whiteBoard">白板</label>
								<input type="checkbox" name="utility" id="transmitFile" />
								<label for="transmitFile">文件传输</label>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>		
	</div>
{{/meetingthirdstep2}}

{{#meetingfourthstep}}
	<div class="meeting-panel">
		<div class="success-panel">
			<div class="face-success">预约会议成功！</div>
			<ul class="details">
				<li>会议主题：<span>周例会</span></li>
				<li>开始时间：<span>2013-09-08</span></li>
				<li>持续时间：<span>1小时</span></li>
				<li>定期模式：<span>周循环会议</span></li>
				<li>重复范围：<span>重复30次后结束</span></li>
				<li>语音模式：<span>网络语音+电话语音</span></li>
				<li>会议类型：<span>视频功能</span></li>
			</ul>
		</div>

		<div class="remark clearfix">
			<div class="notes">
				<h4>日历提醒<span class="gray">将此会议添加到邮件日历中</span></h4>
				<p><a class="input-gray">添加至Outlook日历提醒</a></p>
				<p><a class="input-gray">添加至Gmail日历提醒</a></p>
			</div>
			<div class="invites">
				<button class="input-button">邀请与会者</button>
				<p>邀请后将以邮件的形式通知受邀人参与此次会议，<br />您也可以在会议列表中点击<i class="icon"></i>图标来邀请与会者。</p>
			</div>
		</div>
	</div>
{{/meetingfourthstep}}