{{#modifypwd}}
	<form onsubmit="return false;">
		<div class="form-item">
			<label class="title">原密码：</label>
			<div class="widget">
				<input type="text" class="input-text" />
				<span class="required"></span>
			</div>
		</div>
		<div class="form-item">
			<label class="title">新密码：</label>
			<div class="widget">
				<input type="text" class="input-text" />
				<span class="required"></span>
				<span class="tips">6-14个任意字符</span>
			</div>
		</div>
		<div class="form-item confirm-item">
			<label class="title">确认新密码：</label>
			<div class="widget">
				<input type="text" class="input-text" />
				<span class="required"></span>
			</div>
		</div>
	</form>
{{/modifypwd}}

{{#modifypwdsuccess}}
	<div class="face-success">已经成功修改密码！</div>
{{/modifypwdsuccess}}