{{#notice}}
	<div class="article">
		<h3 class="title">国庆期间关于安全方面的通知</h3>
		<p class="time">2013-10-01</p>
		<div class="content">
			王菲李亚鹏十年情路走到尽头。昨晚，王菲发微博称：“这一世夫妻缘尽至此，我还好，你也保重。”暗示已与李亚鹏离婚。李亚鹏在王菲微博发出一个小时后，也发微博写道“我要的是一个家庭，你却注定是一个传奇”，证实了两人已经离婚的消息，并解释了女儿李嫣归自己抚养，两人财产独立因此不存在财产分割的问题。同时，有网友爆料，两人昨日已在乌鲁木齐办理离婚手续（李亚鹏籍贯是新疆），并附上图片。由于事发突然，圈内外一片震惊。

			两人身边好友早已知情？

			“这一世夫妻缘尽至此，我还好，你也保重。”昨日晚七点半，王菲率先在微博发声，短短半小时内此微博转发10万余次。一个多小时后，李亚鹏发微博证实了此事，称“放手是唯一能做的事”，并就女儿李嫣抚养权和财产分配的情况作了说明。离婚原因更是扑朔迷离。早前还计划出席前日刘嘉玲在香港的新店开业，不过记者从多方渠道获悉，两人身边密友，其实早就知道此事。刘嘉玲昨日接受港媒电话采访时透露：“我知道他们的这个决定有一段时间了，作为第三者很难调停，他们中间有很多问题存在，外人很难可以插手的。”

			昨日新京报记者还是联系到了一位王菲“六一班”（王菲朋友圈名称）的好友，听闻二人离婚的消息，对方只说了一句“缘分尽了呗”，并未表现出意外。

			5月嫣然晚宴已露不合？

			据李亚鹏的微博内容看，“我要的是一个家庭，你却注定是一个传奇”，此句话似乎是对二人婚变原因的解释。事实上，两人在今年5月时仍显“恩爱”迹象。5月21日，李亚鹏在京出席某慈善活动时，还透露他和王菲确实想再生个儿子，并表示“人都会追求完美，但也要接受遗憾”。5月27日，王菲李亚鹏齐赴香港出席“嫣然天使基金会”筹款活动，两人的摩擦被广泛报道，当时李亚鹏去拉王菲拍照，被天后当场黑脸甩手，引发哗然。当晚，刘嘉玲在微博中晒出了李嫣庆生的照片，除了王菲李亚鹏夫妇外，刘嘉玲和老公梁朝伟，那英夫妇均出席了庆生聚会，“甩手”一幕似乎并没有被媒体解读为二人情感破裂的迹象，也因此离婚消息一出，震惊娱乐圈。
		</div>
	</div>
{{/notice}}
