{{#order}}
	<p class="export">
		<a class="input-gray">导出</a>
	</p>
	<div class="order-item">
		<div class="title">
			<b>会议主题</b>：项目开发周期安排
		</div>
		<div class="info">
			<span class="number">会议号：8723668123</span>
			<span class="compere">主持人：barry</span>
			<span class="lasted">会议时长：1:0:1</span>
			<span class="total">总计：10000.00元</span>
		</div>
		<div class="details">
			<table class="common-table">
				<tbody>
					<tr>
						<th class="name">描述</th>
						<th class="start">开始时间</th>
						<th class="lasted">参会时长</th>
						<th class="type">通信方式</th>
						<th class="number">接入号码</th>
						<th class="cost">费用（元）</th>
					</tr>
					<tr>
						<td class="name">李大仁</td>
						<td class="start">2013-09-09 03:03:03</td>
						<td class="lasted">00:30:02</td>
						<td class="type">外呼</td>
						<td class="number">010-88888888</td>
						<td class="cost">20.00</td>
					</tr>
					<tr>
						<td class="name">李大仁</td>
						<td class="start">2013-09-09 03:03:03</td>
						<td class="lasted">00:30:02</td>
						<td class="type">外呼</td>
						<td class="number">010-88888888</td>
						<td class="cost">20.00</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="order-item">
		<div class="title">
			<b>会议主题</b>：项目开发周期安排
		</div>
		<div class="info">
			<span class="number">会议号：8723668123</span>
			<span class="compere">主持人：barry</span>
			<span class="lasted">会议时长：1:0:1</span>
			<span class="total">总计：10000.00元</span>
		</div>
		<div class="details">
			<table class="common-table">
				<tbody>
					<tr>
						<th class="name">描述</th>
						<th class="start">开始时间</th>
						<th class="lasted">参会时长</th>
						<th class="type">通信方式</th>
						<th class="number">接入号码</th>
						<th class="cost">费用（元）</th>
					</tr>
					<tr>
						<td class="name">李大仁</td>
						<td class="start">2013-09-09 03:03:03</td>
						<td class="lasted">00:30:02</td>
						<td class="type">外呼</td>
						<td class="number">010-88888888</td>
						<td class="cost">20.00</td>
					</tr>
					<tr>
						<td class="name">李大仁</td>
						<td class="start">2013-09-09 03:03:03</td>
						<td class="lasted">00:30:02</td>
						<td class="type">外呼</td>
						<td class="number">010-88888888</td>
						<td class="cost">20.00</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="order-item">
		<div class="title">
			<b>会议主题</b>：项目开发周期安排
		</div>
		<div class="info">
			<span class="number">会议号：8723668123</span>
			<span class="compere">主持人：barry</span>
			<span class="lasted">会议时长：1:0:1</span>
			<span class="total">总计：10000.00元</span>
		</div>
		<div class="details">
			<table class="common-table">
				<tbody>
					<tr>
						<th class="name">描述</th>
						<th class="start">开始时间</th>
						<th class="lasted">参会时长</th>
						<th class="type">通信方式</th>
						<th class="number">接入号码</th>
						<th class="cost">费用（元）</th>
					</tr>
					<tr>
						<td class="name">李大仁</td>
						<td class="start">2013-09-09 03:03:03</td>
						<td class="lasted">00:30:02</td>
						<td class="type">外呼</td>
						<td class="number">010-88888888</td>
						<td class="cost">20.00</td>
					</tr>
					<tr>
						<td class="name">李大仁</td>
						<td class="start">2013-09-09 03:03:03</td>
						<td class="lasted">00:30:02</td>
						<td class="type">外呼</td>
						<td class="number">010-88888888</td>
						<td class="cost">20.00</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{{/order}}

{{#ordertype1}}
	<p class="export">
		<a class="input-gray">导出</a>
	</p>
	<div class="order-item">
		<div class="title">
			<b>会议主题</b>：项目开发周期安排
		</div>
		<div class="info">
			<span class="number">会议号：8723668123</span>
			<span class="compere">主持人：barry</span>
			<span class="lasted">会议时长：1:0:1</span>
			<span class="total">总计：10000.00元</span>
		</div>
		<div class="details order-type1">
			<table class="common-table">
				<tbody>
					<tr>
						<th class="name">描述</th>
						<th class="start">开始时间</th>
						<th class="lasted">参会时长</th>
						<th class="cost">费用（元）</th>
					</tr>
					<tr>
						<td class="name">李大仁</td>
						<td class="start">2013-09-09 03:03:03</td>
						<td class="lasted">00:30:02</td>
						<td class="cost">20.00</td>
					</tr>
					<tr>
						<td class="name">李大仁</td>
						<td class="start">2013-09-09 03:03:03</td>
						<td class="lasted">00:30:02</td>
						<td class="cost">20.00</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{{/ordertype1}}

{{#ordertype2}}
	<p class="export">
		<a class="input-gray">导出</a>
	</p>
	<div class="order-item">
		<div class="details order-type2">
			<table class="common-table">
				<tbody>
					<tr>
						<th class="name">姓名</th>
						<th class="used">最大方数</th>
						<th class="cost">费用（元）</th>
					</tr>
					<tr>
						<td class="name">李大仁</td>
						<td class="used">50方</td>
						<td class="cost">20.00</td>
					</tr>
					<tr>
						<td class="name">李大仁</td>
						<td class="used">50方</td>
						<td class="cost">20.00</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{{/ordertype2}}