{{#participate}}
	<div class="download">
		<div class="desc">
			您尚未安装会议客户端，可以点击快速启动器进入会议。
			<ul class="step">
				<li class="first fix-png"><i>点击“快速启动”</i></li>
				<li class="second fix-png"><i>运行启动器</i>，直接进入会议</li>
			</ul>
		</div>
		<p class="down">
			<button class="input-button">快速启动</button>
		</p>
		<p class="clue">
			如果会议系统未启动，<a href="">请查看此帮助！</a>
		</p>
	</div>
{{/participate}}

{{#participateinstall}}
	<div class="install">
		<div class="desc">
			<span>您尚未安装会议插件，在您的电脑安装会议非常简单！</span>
			<ul class="step">
				<li class="first fix-png">选择窗口顶部或底部消息栏上的<i>安装</i>或<i>允许</i></li>
				<li class="second fix-png">当系统要求您执行操作时，请选择<i>是、继续、安装</i>或<i>运行</i>。</li>
			</ul>
		</div>
		<p class="clue">
			没有看到消息栏？<a href="">请点此快速启动器</a>，直接进入会议。
		</p>
	</div>
{{/participateinstall}}

{{#participateprocess}}
	<div class="process">
		<div class="desc">
			正在进入会议室，成功进入后，可以关闭该窗口。
		</div>
		<p class="clue">
			如果未进入会议室，请运行 <a>快速启动器</a> 立即加入会议
		</p>
	</div>
{{/participateprocess}}