{{#party}}
	<div class="party-panel">
		<div class="actions">
			<button class="input-gray export">导出</button>
		</div>
		<div class="details">
			<table class="common-table">
				<tbody>
					<tr>
						<th class="name">姓名</th>
						<th class="type">用户类型</th>
						<th class="join">加入时间</th>
						<th class="over">退出时间</th>
					</tr>
					<tr>
						<td>老高</td>
						<td>电脑</td>
						<td>2013-09-03</td>
						<td>2013-09-03</td>
					</tr>
					<tr>
						<td>老高</td>
						<td>电脑</td>
						<td>2013-09-03</td>
						<td>2013-09-03</td>
					</tr>
					<tr>
						<td>老高</td>
						<td>电脑</td>
						<td>2013-09-03</td>
						<td>2013-09-03</td>
					</tr>
					<tr>
						<td>老高</td>
						<td>电脑</td>
						<td>2013-09-03</td>
						<td>2013-09-03</td>
					</tr>
					<tr>
						<td>老高</td>
						<td>电脑</td>
						<td>2013-09-03</td>
						<td>2013-09-03</td>
					</tr>
					<tr>
						<td>老高</td>
						<td>电脑</td>
						<td>2013-09-03</td>
						<td>2013-09-03</td>
					</tr>
					<tr>
						<td>老高</td>
						<td>电脑</td>
						<td>2013-09-03</td>
						<td>2013-09-03</td>
					</tr>
					<tr>
						<td>老高</td>
						<td>电脑</td>
						<td>2013-09-03</td>
						<td>2013-09-03</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{{/party}}
