@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, progress, time, mark, audio, video { background: transparent; border: 0; font-size: 100%; margin: 0; padding: 0; outline: 0; vertical-align: baseline; -webkit-text-size-adjust: none; }
body { line-height: normal; }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, progress { display: block; }
ol, ul, li { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
img { vertical-align: middle; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
i { font-style: normal; }
table { border-collapse: collapse; border-spacing: 0; width: 100%; }
.clearfix:before, .clearfix:after { content: '\0020'; display: block; height: 0; overflow: hidden; visibility: hidden; width: 100%; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
:focus { outline: 0; }
.pull-left { float: left; }
.pull-right { float: right; }
.no-scroll { overflow: hidden; }
a, a:link, a:visited { color: #47a6f7; cursor: pointer; text-decoration: none; }
a:hover { text-decoration: underline; }
:placeholder { color: #999999; }
:-moz-placeholder { color: #999999; }
::-webkit-input-placeholder { color: #999999; }
:-ms-input-placeholder { color: #999999; font-family: "Microsoft Yahei", "微软雅黑", "宋体"; }
body { color: #333333; font-size: 12px; font-family: "Microsoft Yahei", "微软雅黑", "宋体"; }
select, option, textarea, input, button { margin: 0; padding: 0; font-family: inherit; }
select, textarea { border: 1px solid #DADADA; outline: medium none; resize: none; }
select:focus, textarea:focus { border: 1px solid #78A8D5; box-shadow: 0 0 3px #EEEEEE; }
hr { margin: 30px 0; border: none; border-top: 1px solid #ddd; }
.input-time, .input-date { cursor: pointer; }
.input-select { padding: 3px; }
.input-select option { padding: 0 5px; }
.input-text, .input-area { border: 1px solid #DADADA; border-radius: 3px; padding: 5px; height: 16px; box-shadow: 0 1px #f7f7f7 inset; }
.input-text:focus, .input-area:focus { border: 1px solid #8caac8; box-shadow: 0 0 5px #d6e2ed; }
label[for] { vertical-align: middle; }
input[type=radio], input[type=checkbox] { vertical-align: middle; }
input[readonly], input[readonly]:focus, input[readonly]:hover { background-color: #F9F9F9; cursor: default; box-shadow: none; }
.text-muted { color: #ccc; }
.text-warning { color: #ff853b; }
.text-success { color: #529c01; }
.text-danger { color: #e85541; }
.text-primary { color: #1582C7; }
.text-overflow { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-break: keep-all; }
.text-normal { font-weight: normal; font-style: normal; }
.text-right { text-align: right; }
.form-inline .form-group { margin-bottom: 8px; }
.form-group label { width: 90px; text-align: right; }
.form-group select { background: #fff; min-width: 80px; height: 28px; font-size: 12px; margin-right: 5px; }
.btn { padding: 0 15px; height: 28px; background: #fff; border: 1px solid #eee; vertical-align: middle; border-radius: 3px; cursor: pointer; }
.btn-lg { height: 32px; min-width: 80px; }
a.btn { box-sizing: border-box; display: inline-block; line-height: 26px; text-decoration: none; }
a.btn-lg { line-height: 30px; }
.btn-default { color: #333; border-color: #ccc; background: -webkit-linear-gradient(top, #fff, #e5e5e5); background: -ms-linear-gradient(top, #fff, #e5e5e5); background: -moz-linear-gradient(top, #fff, #e5e5e5); background: background:linear-gradient(top, #fff, #e5e5e5); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#e5e5e5); }
.btn-default:hover { background: -webkit-linear-gradient(top, #e5e5e5, #fff); background: -ms-linear-gradient(top, #e5e5e5, #fff); background: -moz-linear-gradient(top, #e5e5e5, #fff); background: background:linear-gradient(top, #e5e5e5, #fff); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e5e5e5, endColorstr=#ffffff) }
.btn-gray { color: #fff; border-color: #666; background: -webkit-linear-gradient(top, #868686, #6a6a6a); background: -ms-linear-gradient(top, #868686, #6a6a6a); background: -moz-linear-gradient(top, #868686, #6a6a6a); background: background:linear-gradient(top, #868686, #6a6a6a); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#868686, endColorstr=#6a6a6a) }
.btn-gray:hover { background: -webkit-linear-gradient(top, #6a6a6a, #868686); background: -ms-linear-gradient(top, #6a6a6a, #868686); background: -moz-linear-gradient(top, #6a6a6a, #868686); background: background:linear-gradient(top, #6a6a6a, #868686); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#6a6a6a, endColorstr=#868686) }
.btn-primary { color: #fff; border-color: #44ADEF; background: #44ADEF; background: linear-gradient(top, #44ADEF, #2B94D6); background: -moz-linear-gradient(top, #44ADEF, #2B94D6); background: -webkit-linear-gradient(top, #44ADEF, #2B94D6); border-color: #44ADEF; box-shadow: 0 1px #5EA2EC inset; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#44ADEF, endColorstr=#2B94D6); }
.btn-primary:hover { background: #39AFED; background: linear-gradient(top, #5EC5FF, #39AFED); background: -moz-linear-gradient(top, #5EC5FF, #39AFED); background: -webkit-linear-gradient(top, #5EC5FF, #39AFED); text-decoration: none; border-color: #44ADEF; box-shadow: 0 0.5px #5EA2EC inset; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#5EC5FF, endColorstr=#39AFED); }
.btn-primary:active { background: #2B94D6; background: linear-gradient(bottom, #44ADEF, #2B94D6); background: -moz-linear-gradient(bottom, #44ADEF, #2B94D6); background: -webkit-linear-gradient(bottom, #44ADEF, #2B94D6); text-decoration: none; box-shadow: 0 1px #5EA2EC inset; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#2B94D6, endColorstr=#44ADEF); }
.btn-success { color: #fff; border-color: #52a553; background: -webkit-linear-gradient(top, #46cc47, #29af2a); background: -ms-linear-gradient(top, #46cc47, #29af2a); background: -moz-linear-gradient(top, #46cc47, #29af2a); background: background:linear-gradient(top, #46cc47, #29af2a); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#46cc47, endColorstr=#29af2a) }
.btn-success:hover { border-color: #2241B2; background: -webkit-linear-gradient(top, #29af2a, #29af2a); background: -ms-linear-gradient(top, #29af2a, #29af2a); background: -moz-linear-gradient(top, #29af2a, #29af2a); background: background:linear-gradient(top, #29af2a, #29af2a); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#29af2a, endColorstr=#29af2a) }
.form-inline .form-group { display: inline-block; }
.form-group label { display: inline-block; }
.form-control { border: 1px solid #ccc; border-radius: 3px; padding: 5px; box-sizing: border-box; height: 28px; box-shadow: 0 1px #f7f7f7 inset; vertical-align: middle; }
.form-control:focus { border: 1px solid #8caac8; box-shadow: 0 0 5px #d6e2ed; }
.form-control[disabled] { background-color: #ececec; }
.form-horizontal .form-group { margin-bottom: 10px; }
.form-horizontal .form-group label { min-width: 100px; text-align: right; float: left; line-height: 28px; }
.form-horizontal .form-group .wrap { margin-left: 105px; position: relative; }
.form-horizontal .form-group .form-control { display: block; width: 100%; }
.form-horizontal .form-group .message { display: block; margin-top: 6px; }
.form-horizontal .form-group .required { color: #f00; position: absolute; right: -15px; top: 6px; font-size: 14px; }
body { -webkit-font-smoothing: antialiased; /*max-width: 1400px; margin: 0 auto; */ }
#header { height: 85px; background-color: #7f7f7f; width: 100%; }
#header.opacity { background: transparent url(../images/home/header.png) 0 0 repeat-x; background: rgba(255, 255, 255, 0.2); }
#header .wrapper { width: 1120px; margin: 0 auto; position: relative; }
#header .wrapper .logo { float: left; padding-top: 20px; }
#header .wrapper .tel { position: absolute; right: 0; top: 16px; }
#header .wrapper nav { float: right; padding-top: 43px; }
#header .wrapper nav a { color: #fff; font-size: 20px; display: inline-block; margin-left: 18px; }
#footer .wrapper { width: 1120px; margin: 0 auto; }
#footer .wrapper .copy { text-align: center; color: #777; padding: 40px 0; font-size: 14px; }
#footer .wrapper .copy .lang { display: inline-block; border: 1px solid #777; color: #333; padding: 2px 5px; text-decoration: none; font-size: 12px; vertical-align: top; }
#footer .wrapper .copy .lang.active { color: #fff; background-color: #777; }
#content { width: 1120px; margin: 0 auto; }
.tabview .tabs { padding-left: 30px; border-bottom: 1px solid #ccc; height: 39px; }
.tabview .tabs .tab { border: 1px solid #aaa; float: left; line-height: 38px; padding: 0 35px; background-color: #aaa; color: #fff; margin-right: 20px; font-size: 16px; text-decoration: none; }
.tabview .tabs .tab.active { background-color: #fff; color: #333; border: 1px solid #ccc; border-bottom-color: #fff; }
.tabview .views .view { display: none; }
.tabview .views .view.active { display: block; }