@charset "UTF-8";
body { background: #fff url(../images/freetry/bg.jpg) center 0 repeat-x; background-size: cover; }
#content .wrapper  { padding-top: 60px;}
.box {background: transparent url(../images/freetry/opacity.png) 0 0 repeat; }
.box.left {width: 310px;height: 440px;float: left;}
.box.left .wrap {padding: 30px;}
.box.left .wrap h1 {font-size: 30px;margin:0 0 10px;}
.box.left .wrap p {font-size: 18px;line-height: 50px;}
.box.right {height: 440px;margin-left: 330px;}
.box.right .wrap {padding: 30px 80px; font-size: 14px;}
.box.right .wrap h4 {font-weight: normal;font-size: 18px;margin: 5px 0 10px;}
