.home section { padding-top: 55px; padding-left: 68px; padding-right: 68px; }
.home section h2 { margin-bottom: 30px; }
.home .icon-input > input { padding-left: 55px; }
.home .icon-input > .icon { position: absolute; top: 50%; margin-top: -25px; left: 0; }
.home .list { margin-bottom: 68px; }
.home .submit .button { margin-bottom: 30px; }
